global:
  resolve_timeout: 5m
  slack_api_url: 'https://hooks.slack.com/services/PLACEHOLDER/PLACEHOLDER/PLACEHOLDER'

route:
  group_by: ['job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#alerts' # שנה לשם הערוץ שלך בתוך הסלאק אם הוא שונה
    send_resolved: true
    title: '[{{ .Status | toUpper }}] Kubernetes Alert'
    text: >-
      *Alert:* {{ .CommonAnnotations.summary }}
      *Description:* {{ .CommonAnnotations.description }}
      *Severity:* {{ .CommonLabels.severity }}