apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cloudio-storage
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
